<header id="header" class="header d-flex align-items-center fixed-top" *ngIf="showHeader">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <h1 class="sitename">RealEstate<span>Agency</span></h1>
      </a>
      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a [routerLink]="'/'" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
          <li *ngIf="isLoggedIn"><a [routerLink]="'/about'" routerLinkActive="active" >About</a></li>
          <li *ngIf="isLoggedIn"><a [routerLink]="'/property'" routerLinkActive="active">Properties</a></li>
          <!-- <li class="dropdown"><a href="#"><span>Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="#">Dropdown 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                  <li><a href="#">Deep Dropdown 1</a></li>
                  <li><a href="#">Deep Dropdown 2</a></li>
                  <li><a href="#">Deep Dropdown 3</a></li>
                  <li><a href="#">Deep Dropdown 4</a></li>
                  <li><a href="#">Deep Dropdown 5</a></li>
                </ul>
              </li> -->
              <!-- <li><a href="#">Dropdown 2</a></li>
              <li><a href="#">Dropdown 3</a></li>
              <li><a href="#">Dropdown 4</a></li>
            </ul>
          </li> -->
          <li *ngIf="isLoggedIn"><a href="/contact-us" routerLinkActive="active">Contact</a></li>
          <div *ngIf="!isLoggedIn">
            <a class="btn-get-started" routerLink="/login" routerLinkActive="active">login</a>
          </div>
          <div class="user-image dropdown text-right" *ngIf="isLoggedIn">
            <span><span class="text-welcome">Welcome</span> {{ currentUser?.userName }} </span>
            <img 
            [src]="currentUser?.photoPath ? currentUser.photoPath : 'assets/images/user.jpg'"
              class="rounded-circle p-cursor dropdown-toggle" width="50" height="50"
              id="userDropdown"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              alt="user"
            >
            
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
             <li><a class="dropdown-item" routerLink="/profile">Profile</a></li>
              <li><a class="dropdown-item" (click)="handleLogout()">Logout</a></li>
            </ul>
            </div>	
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>