.property-slider {
    text-align: center;
    overflow: hidden;
    padding: 40px 0;
    margin-top: 5%;
  }
  
  .slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .slider {
    display: flex;
    gap: 20px;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    flex: 0 0 270px; /* Adjusted width for proper scrolling */
    transition: transform 0.5s ease-in-out;
  }
  
  .property-card {
    width: 270px; 
  height: 380px; 
    background: #d0debb;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .property-img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
    max-width: 250px;
    max-height: 200px;
  }
  
  .property-info {
    min-height: 40px; 
    padding: 10px 0;
    text-align: center;
  }

  
  .view-details {
    display: block;
    margin-top: 5px;
    color: white;
    text-decoration: none;
  }
  .carousel-control-prev,
.carousel-control-next {
  width: 10%;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}
.btn-custom{
  background: #798b70d1;
  border-radius: 30px;
  
}

.pleft-5{
  padding-left: 22%;
}
@media (max-width: 768px) {
  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }
}
