<h1>Payment</h1>
<form class="form" [formGroup]="paymentForm" (ngSubmit)="payWithPayU()">
    <div>
      <label for="firstname">First Name</label>
      <input type="text" class="form-control" id="firstname" formControlName="firstname" name="firstname"/>
    </div>
  
    <div>
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" formControlName="email" name="email"  />
    </div>
  
    <div>
      <label for="phone">Phone</label>
      <input type="text" class="form-control" id="phone" formControlName="phone" name="phone"  />
    </div>
  
    <div>
      <label for="amount">Amount</label>
      <input type="number" class="form-control" id="amount" formControlName="amount" name="amount"  />
    </div>
  
    <div>
      <label for="productinfo">Product Info</label>
      <input type="text" class="form-control" id="productinfo" formControlName="productinfo" name="productinfo" />
    </div>
  
    <button type="submit" class="btn btn-success">Pay Now</button>
  </form>
  