

<!-- <section class="main-section"> -->

    <!-- <div class="container dash-head">
      <div class="row">
        <div class="col-md-6">
          <div class="user-img">
            <img src="assets/images/user.jpg" class="rounded-circle" alt="user">
          </div>
          <div class="user-info">
            <h3>Welcome [name]</h3>
            <p>Complete your profile</p>
          </div>

        </div>
      </div>
    </div> -->
<!--     
    <router-outlet></router-outlet>
    </section> -->

    <!-- plugins:css -->

    
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <!-- <link rel="stylesheet" href="./assets/css/style.css"> -->
    <!-- End layout styles -->

   <div class="container-scroller">
      <div class="page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
         <div class="col-2 pl-0">
          <nav class="sidebar sidebar-offcanvas" id="sidebar" style="background: linear-gradient(to right, rgb(91,66,129), rgb(144,59,76), rgb(155,52,55));
">      
                  <div class="sidebar-logo p-1">
                    <img src="assets/images/REAL_ESTATE_PROPERTY.png"  alt="RealEstate Logo" class="img-fluid" style="width: 200px;height:100px;">
</div>
           <ul class="nav">
                <li class="nav-item pl-0 pr-0" *ngFor="let item of menuList">
                  <!-- Main Menu Item -->
                  <a class="nav-link pl-4" 
                  [routerLink]="[item.path.startsWith('/') ? item.path : '/' + item.path]" 
                     data-bs-toggle="collapse" 
                     [attr.aria-expanded]="false" 
                     [attr.aria-controls]="item.id">
                   
                    <i class="{{ item.icon }} menu-icon ml-0 fs-5 text-light"></i> 
                    <span class="menu-title fs-6 ml-2 text-light">{{ item.name }}</span>
                  </a>
              </li>
              </ul>
              <!-- <div *ngIf="item.children && item.children.length" class="collapse" [id]="item.id">
                    <ul class="nav flex-column sub-menu">
                      <li class="nav-item" *ngFor="let subItem of item.children">
                        <a class="nav-link" [routerLink]="subItem.routerLink">{{ subItem.name }}</a>
                      </li>
                    </ul>
                  </div> -->
              </nav>
         </div>
        
        <!-- partial -->
            <div class="col-10 mt-sidebar">
              <router-outlet></router-outlet>
</div>
         
      </div>
      <!-- page-body-wrapper ends -->
    </div> 
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="assets/vendors/chart.js/chart.umd.js"></script>
    <script src="assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="assets/js/off-canvas.js"></script>
    <script src="assets/js/misc.js"></script>
    <script src="assets/js/settings.js"></script>
    <script src="assets/js/todolist.js"></script>
    <script src="assets/js/jquery.cookie.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="assets/js/dashboard.js"></script>
    <!-- End custom js for this page -->
  <!-- </body> -->
<!-- </html> -->

