<div class="d-flex justify-content-center align-items-center vh-100 bg-grey">
   
            <div class="row login-card glassmorphism w-25 mt-5">
                <!-- Image Section -->
                <!-- <div class="col-md-6 login-image d-none d-md-block"></div> -->
                
                <!-- Login Form Section -->
                <div class="col-md-12 p-4">
                    <h4 class="text-center">Forgot/Reset Password</h4>
                    
                    <form  [formGroup]="form" (ngSubmit)="onSubmit()" class="mt-2">
                      <div class="form-group">
                        <input type="text" formControlName="emailPhone" class="form-control" placeholder="emailPhone"
                          [ngClass]="{'is-invalid': formSubmitted && lf.emailPhone.invalid, 'is-valid': formSubmitted && !lf.emailPhone.invalid }" />
                          <small class="text-danger" *ngIf="formSubmitted && lf.emailPhone.invalid">
                            <span *ngIf="lf.emailPhone.errors?.required">
                              <i class="ft-alert-circle align-middle"></i> EmailPhone is required.
                            </span>
                            <span *ngIf="lf.emailPhone.errors?.email">Email must be valid</span>
                          </small>
                      </div>
                      <div class="form-group">
                        <div class="input-group">
                          <input type="password" formControlName="password" class="form-control" placeholder="Password"
                            [ngClass]="{'is-invalid': formSubmitted && lf.password.invalid,'is-valid': formSubmitted && !lf.password.invalid}" />
                         </div>
                        <div class="help-block mt-1 text-danger" *ngIf="formSubmitted && (lf.password.invalid || lf.password.errors?.required)">
                          <i class="ft-alert-circle align-middle"></i> Password is required.
                        </div>
                    </div>
                    <div class="form-group">
                        <input  type="password" name="cPassword" formControlName="cPassword"  placeholder="Re-enter Password" (change)="onChangePassword($event)" class="form-control" [ngClass]="{'is-invalid': formSubmitted && lf.cPassword.invalid, 'is-valid': formSubmitted && !lf.cPassword.invalid }">
                        <small class="text-danger"
                            *ngIf="formSubmitted && (lf.cPassword.invalid || lf.cPassword.errors?.required)"  >
                        This field is required</small>
                        <small class="text-danger" *ngIf="formSubmitted && passwordMismatch && lf.cPassword.value">
                            Passwords do not match
                        </small>            
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-submit w-50">Submit</button>
                    </div>
                    
                    </form>
                    
                </div>
            </div>
       </div>
  