.clock-spinner {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.clock-spinner::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 10px;
  background: #fff;
  top: 20%;
  left: 50%;
  transform-origin: bottom;
  animation: clock-hand 1s linear infinite;
}

.clock-spinner::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 15px;
  background: #fff;
  top: 5%;
  left: 50%;
  transform-origin: bottom;
  animation: clock-hand 2s linear infinite;
}

@keyframes clock-hand {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
.ball-scale-multiple {
  position: relative;
  display: inline-block;
  width: 80px; /* Increased width */
  height: 80px; /* Increased height */
}

.ball-scale-multiple div {
  position: absolute;
  border: 20px solid #fdfdfd; /* Increased border thickness */
  border-radius: 50%;
  animation: ball-scale-multiple 1.5s infinite ease-in-out;
  opacity: 0;
}

.ball-scale-multiple div:nth-child(1) {
  animation-delay: 0s;
}
.ball-scale-multiple div:nth-child(2) {
  animation-delay: 0.3s;
}
.ball-scale-multiple div:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes ball-scale-multiple {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1.5); /* Increased scale */
    opacity: 0;
  }
}
