footer{
    padding: 20px 0px;
            position:absolute;
            left:260px;
            border-top: 1px solid #ccc;
            width:1270px;
}
footer p, footer p a{
    color: white;
    font-weight: bold;
    margin-bottom: 0px;
}