<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" [fullScreen]="true">
  <div class="clock-spinner">
      <div class="text-white" style="margin-top:120%;">Loading...</div>
    </div>
  </ngx-spinner>
<div class="card p-4 shadow-lg">
  <div class="card-content">
    <div class="card-body">
      <form [formGroup]="form">
        <!-- <div class="header mb-5 display-2">
          <i class="bi bi-person-fill">User</i>
        </div> -->
        <!-- <div class="sub-header">
          <h3 class="mt-1 text-left"><i class="fa-solid bi bi-person-fill mr-1"></i>User</h3>
          <hr class="mt-0">
        </div> -->
        <div class="row">
          <div class="col-md-3 text-left">
            <!-- <label for="searchText" class="small">Search</label> -->
            <div class="input-group input-group-sm mb-0">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="bi bi-search"></i></span>
              </div>
              <input type="text" formControlName="searchText" class="form-control form-control-sm" placeholder="Search">
            </div>
          </div>

          <div class="col-md-4 d-flex align-items-center mb-5">
            <button type="submit" class="btn btn-sm btn-warning m-1" (click)="onClick_fiter()"><i
                class="bi bi-search me-1"></i>
              Filter</button>
            <button type="button" class="btn btn-sm btn-secondary m-1" (click)="onClear_Filter()"><i
                class="bi bi-x-lg me-1"></i>
              Clear</button>
          </div>
          <div class="form-group col-md-5 text-right">
            <button type="button" class="btn btn-sm btn-primary m-1" (click)="onClick_AddEdit(0)">
              <i class="fa fa-plus btn-icon-prepend"></i> Add New
            </button>
          </div>
        </div>
      </form>
        <table class="table table-striped mt-3" *ngIf="userList && userList.length > 0; else noUser">
          <thead class="fs-5">
            <tr>
              <th> # </th>
              <th>Role</th>
              <th> Full Name </th>
              <th> Username </th>
              <th> Email </th>
              <th> Phone Number </th>
              <th> Status </th>
              <th> Action </th>
            </tr>
          </thead>
          <tbody class="fs-5">
            <tr *ngFor="let item of userList; let i = index">
              <td>{{ (page - 1) * pageSize + i + 1 }}</td>
              <td>{{item.role}}</td>
              <td>{{item.fname}} {{item.lname}}</td>
              <td>{{item.userName}}</td>
              <td>{{item.email}}</td>
              <td>{{item.phoneNo}}</td>
              <td>{{item.status ? 'Active' : 'Inactive'}}</td>
              <td>
                <a class="info p-0 m-1 text-info"  (click)="onClick_AddEdit(item.id)">
                  <i class="bi bi-pencil-square fs-5 font-bold mr-2 text-success font-weight-bold"></i>
                </a>
                <a class="danger p-0 text-danger " (click)="onDelete(item.id)">
                  <i class="bi bi-trash3 fs-5 font-bold text-danger font-weight-bold"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
        <ng-template #noUser>
          <div class="alert alert-warning text-center mt-3" role="alert">
            <i class="bi bi-exclamation-triangle me-2"></i>
            No user available. Please add a new user.
          </div>
        </ng-template>
      <div class="row mt-5">
        <div class="col-md-10">
          <!-- <ngb-pagination>
            </ngb-pagination>-->
          <ngb-pagination [collectionSize]="totalRecord" [(page)]="page" (pageChange)="onClick_PageChange($event)"
            [pageSize]="pageSize" [maxSize]="10">
          </ngb-pagination>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <select [(ngModel)]="pageSize" (ngModelChange)="onChange_PageSize()" class="form-control">
              <option *ngFor="let size of pageSizeList" [value]="size.pageSize">{{ size.name }}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>