<div class="card">
  <div class="card-content">
    <div class="card-body">
      <form [formGroup]="form"> 
        <!-- <div class="header mb-5 display-2">
          <i class="bi bi-person-fill">User</i>
        </div> -->
        <div class="row">
          <div class="col-md-3 text-left">
            <!-- <label for="searchText" class="small">Search</label> -->
            <div class="input-group input-group-sm mb-0">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="bi bi-search"></i></span>
              </div>
              <input type="text" formControlName="searchText" class="form-control form-control-sm" placeholder="Search">
            </div>
          </div>
          
          <div class="col-md-4 d-flex align-items-center mb-5">
            <button type="submit" class="btn btn-sm btn-warning m-1" (click)="onClick_fiter()"><i class="bi bi-search me-1"></i>
              Filter</button>
            <button type="button" class="btn btn-sm btn-secondary m-1" (click)="onClear_Filter()"><i class="bi bi-x-lg me-1"></i>
              Clear</button>
          </div>
          <div class="form-group col-md-5 text-right">
            <button type="button" class="btn btn-sm btn-primary m-1" (click)="onClick_AddEdit(0)">
              <i class="bi bi-plus-lg me-2 fs-6 " aria-hidden="true"></i>Add User
            </button>
          </div>
        </div>
      </form>
      <hr class="mt-0 mb-0">
      <div class="table-responsive">
        <table class="table table-striped table-hover table-sm table-specialresponsive">
            <thead>
              <tr>
                <th> # </th>
                <th>Role</th>
                <th> Full Name </th>
                <th> Username </th>
                <th> Email </th>
                <th> Phone Number </th>
                <th> Status </th>
                <th> Action </th>
              </tr>
          </thead>
          <tbody>
            <tr  *ngFor="let item of userList; let i = index">
              <td>{{i+1}}</td>
              <td>{{item.role}}</td>
              <td>{{item.fname}} {{item.lname}}</td>
              <td>{{item.userName}}</td>
              <td>{{item.email}}</td>
              <td>{{item.phoneNo}}</td>
              <td>{{item.status ? 'Active' : 'Inactive'}}</td>
             <td> 
                <a class="info p-0 m-1 text-info">
                  <i class="bi bi-pencil-square font-medium-3 mr-2" (click)="onClick_AddEdit(item._id)"></i>
                </a>
                <a class="danger p-0 text-danger " (click)="onDelete(item._id)">
                  <i class="bi bi-trash3 font-medium-3"></i>
                </a>
              </td>
            </tr>
          </tbody>
          </table>
          
      </div>
      <div class="row mt-2">
        <div class="col-md-10">
            <!-- <ngb-pagination>
            </ngb-pagination>-->
            <ngb-pagination 
[collectionSize]="totalRecord" 
[(page)]="page" 
(pageChange)="onClick_PageChange($event)" 
[pageSize]="pageSize" 
[maxSize]="10">
</ngb-pagination>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <select [(ngModel)]="pageSize" (ngModelChange)="onChange_PageSize()" class="form-control">
              <option *ngFor="let size of pageSizeList" [value]="size.pageSize">{{ size.name }}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>