<main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

      <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">

        <div class="carousel-item active">
          <img src="assets/images/img/hero-carousel/hero-carousel-1.jpg" alt="">
          <div class="carousel-container">
            <div>
              <h2>Own your <span>Dream Home</span></h2>
              <p>Find your perfect home with us, from cozy rentals to luxurious estates. We ensure a seamless experience, <br> making comfort and satisfaction our priority!</p>
              <a class="btn-get-started">sale</a>
            </div>
          </div>
        </div><!-- End Carousel Item -->

        <div class="carousel-item">
          <img src="assets/images/img/hero-carousel/hero-carousel-2.jpg" alt="">
          <div class="carousel-container">
            <div>
              <p>"From modern residences to premium commercial spaces, <br> we provide properties that match your lifestyle and business goals. <br>Your ideal space awaits!"</p>
              <!-- <h2><span>247</span> Venda Road Five</h2> -->
              <a class="btn-get-started">Residential | Commercial</a>
            </div>
          </div>
        </div><!-- End Carousel Item -->

        <div class="carousel-item">
          <img src="assets/images/img/hero-carousel/hero-carousel-3.jpg" alt="">
          <div class="carousel-container">
            <div>
              <p>"With years of experience in real estate, we <br> specialize in finding the best residential and commercial properties. <br> Trust us to help you make the right move!"</p>
              <a class="btn-get-started">32 years of Experience</a>
            </div>
          </div>
        </div><!-- End Carousel Item -->

        <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

        <ol class="carousel-indicators">
          <li data-bs-target="#hero-carousel" data-bs-slide-to="0" class="active"></li>
          <li data-bs-target="#hero-carousel" data-bs-slide-to="1"></li>
          <li data-bs-target="#hero-carousel" data-bs-slide-to="2"></li>
        </ol>

      </div>

    </section>
    <!-- /Hero Section -->
    <!-- Hero Section -->
    <section id="searchProperty">
      <h2 class="section-title">Search Property</h2>
      <div class="search-bar p-3 rounded-3">
        <form [formGroup]="searchForm" class="d-flex align-items-center gap-2 w-100">
          <!-- City Dropdown -->
          <div class="col-md-3 col-lg-3 pl-3 pr-1">
            <label for="city" class="form-label">City</label>
            <select id="city" formControlName="city" class="form-select">
              <option value="" disabled selected>Select City</option>
              <option *ngFor="let city of cities" [value]="city.name">{{ city.name }}</option>
            </select>
          </div>
    
          <!-- Property Type Dropdown -->
          <div class="col-md-3 col-lg-3 pl-1 pr-1">
            <label for="propertyType" class="form-label">Property Type</label>
            <select id="propertyType" formControlName="propertyType" class="form-select">
              <option value="" disabled selected>Select Property Type</option>
              <option *ngFor="let type of propertyTypes" [value]="type.title">{{ type.title }}</option>
            </select>
          </div>
    
          <!-- Price Range Dropdown -->
          <div class="col-lg-3 col-md-3 pl-1 pr-1">
            <label for="priceRanges" class="form-label">Price Range</label>
            <select id="priceRanges" formControlName="priceRanges" class="form-select">
              <option value="" disabled selected>Select Price Range</option>
              <option *ngFor="let range of priceRanges" [value]="range">{{ range }}</option>
            </select>
          </div>
    
          <!-- Search Button -->
          <div class="col-lg-3 col-md-3 d-flex align-items-end">
            <button class="btn btn-submit mt-3" (click)="searchProperties()">
              <i class="bi bi-search"></i> Search
            </button>
          </div>
        </form>
      </div>
    </section>
    

    
    <!-- Services Section -->
    <section id="services" class="services section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Our Services</h2>
        <p>Providing innovative and personalized real estate solutions to match your unique needs.
        </p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item  position-relative">
              <div class="icon">
                <i class="fa fa-home text-white"></i>
              </div>
              <a href="service-details.html" class="stretched-link">
                <h3>Exclusive Off-Market Deals</h3>
              </a>
              <p>Access hidden property listings before they hit the mainstream market, giving you a competitive edge in finding premium properties first. </p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa fa-camera-retro"></i>
              </div>
              <a href="service-details.html" class="stretched-link">
                <h3>Virtual Property Tours</h3>
              </a>
              <p>Explore homes remotely with immersive 3D and live video walkthroughs, giving you a real feel of the space before visiting in person.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-lamp"></i>
              </div>
              <a href="service-details.html" class="stretched-link">
                <h3>Smart Home Integration Assistance</h3>
              </a>
              <p>Helping buyers set up modern smart home technology for enhanced living, ensuring convenience, security, and energy efficiency.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa fa-user"></i>
              </div>
              <a href="service-details.html" class="stretched-link">
                <h3>Lifestyle Matching</h3>
              </a>
              <p> Finding properties that perfectly align with your lifestyle, work, and future goals, so every home feels like it was made just for you.</p>
              <a href="service-details.html" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-tools"></i>
              </div>
              <a href="service-details.html" class="stretched-link">
                <h3>Custom Build & Renovation Advisory</h3>
              </a>
              <p>Assisting in property upgrades or custom-built dream homes with expert guidance, connecting you with top architects and contractors.</p>
              <a href="service-details.html" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa fa-truck"></i>
              </div>
              <a href="service-details.html" class="stretched-link">
                <h3>Relocation & Concierge Services</h3>
              </a>
              <p>Full-service relocation support, from home search to moving logistics, making your transition seamless and stress-free.</p>
              <a href="service-details.html" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>

    </section><!-- /Services Section -->

    <!-- Agents Section -->
    <section id="agents" class="agents section">
      <div class="container section-title" data-aos="fade-up">
        <h2>Our Builders</h2>
        <p>Experience exceptional craftsmanship and quality with our expert builders!</p>
      </div>
    
      <div class="container">
        <div class="row gy-5">
          <div *ngFor="let builder of builders" class="col-lg-4 col-md-6" data-aos="fade-up">
            <div class="member">
              <div class="pic">
                <img [src]="builder.imageUrl ? builder.imageUrl : 'assets/images/img/team/team-1.jpg'" class="img-fluid img-builder" onError="'assets/images/img/team/team1.jpg'"  >
              </div>
              <div class="member-info">
                <h4>{{ builder.fname }} {{ builder.lname }}</h4>
                <div class="social">
                  <a href="https://twitter.com" class="twitter"><i class="fa fa-twitter"></i></a>
                  <a href="https://facebook.com" class="facebook"><i class="fa fa-facebook"></i></a>
                  <a href="https://instagram.com" class="instagram"><i class="fa fa-instagram"></i></a>
                  <a href="https://linkedin.com" class="linkedin"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /Agents Section -->

    <!-- Testimonials Section -->
    <!-- <section id="testimonials" class="testimonials section"> -->

      <!-- <div class="container section-title" data-aos="fade-up">
        <h2>Testimonials</h2>
        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
      </div> -->

      <!-- <div class="container" data-aos="fade-up" data-aos-delay="100"> -->
<!-- 
        <div class="swiper init-swiper">
         <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                </p>
                <div class="profile mt-auto">
                  <img src="assets/images/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                  <h3>Saul Goodman</h3>
                  <h4>Ceo &amp; Founder</h4>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                </p>
                <div class="profile mt-auto">
                  <img src="assets/images/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                  <h3>Sara Wilsson</h3>
                  <h4>Designer</h4>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                </p>
                <div class="profile mt-auto">
                  <img src="assets/images/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                  <h3>Jena Karlis</h3>
                  <h4>Store Owner</h4>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                </p>
                <div class="profile mt-auto">
                  <img src="assets/images/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                  <h3>Matt Brandon</h3>
                  <h4>Freelancer</h4>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                </p>
                <div class="profile mt-auto">
                  <img src="assets/images/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                  <h3>John Larson</h3>
                  <h4>Entrepreneur</h4>
                </div>
              </div>
            </div>

          </div>
          <div class="swiper-pagination"></div>
        </div> -->
      
      <!-- </div> -->

    <!-- </section>/Testimonials Section -->

  </main>



  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- Vendor JS Files -->
  <!-- <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script> -->

  <!-- Main JS File -->
  <!-- <script src="assets/js/main.js"></script> -->

