<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font/css/materialdesignicons.min.css">

<ngx-spinner name="model" bdColor="rgba(0, 0, 0, 0.8)" [fullScreen]="false">
  <div class="clock-spinner">
      <div class="text-white" style="margin-top:120%;">Loading...</div>
    </div>
  </ngx-spinner>
<div class="modal-header">
  <div *ngIf="id > 0; then editRole; else addRole"></div>
  <ng-template #editRole>
    <h4 class="modal-title">Edit Role</h4>
  </ng-template>
  <ng-template #addRole>
    <h4 class="modal-title">Add Role</h4>
  </ng-template>
  <button type="button" class="close" (click)="activeModal.dismiss('Cross click')">&times;</button>
</div>
<form [formGroup]="form" novalidate (ngSubmit)="onSubmit_Form()">
  <div class="modal-body">
      <div class="form-group row d-flex align-items-center">
          <label class="col-md-4 label-control" for="striped-form-1">
            Role Name</label>
          <div class="col-md-8">
            <input formControlName="name" type="text" id="striped-form-1" class="form-control" 
            [ngClass]="{
              'is-invalid': submitted && f.name.invalid,
              'is-valid': submitted && !f.name.invalid
            }"
          />
          <small class="form-text text-danger" *ngIf="submitted && f.name.invalid" >
            <span *ngIf="f.name.errors?.required">Role is required</span>
          </small>
          
          </div>
      </div>
  </div>
  <div class="modal-footer">
      <button type="submit" class="btn btn-primary m-1">
        <i class="bi bi-check-square me-1"></i> Save
      </button>
      <button type="button" class="btn btn-secondary m-1" (click)="activeModal.dismiss('Cross click')">
        <i class="bi bi-x-lg"></i> 
          Cancel
      </button>
  </div>
</form>