<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"> -->

<!-- <div class="searchProp-cont">
  <ngb-carousel *ngIf="images">
    <ng-template *ngFor="let item of [0,1,2]" ngbSlide>
      <img [src]="images[item]" class="carousal-img" width="100%" height="100%" alt="Random first slide">
    </ng-template>
  </ngb-carousel>
</div> -->


<div class="carousel-container">
  <ngb-carousel *ngIf="images" [interval]="5000" (slide)="onSlideChange($event)">
    <ng-template *ngFor="let item of images; let i = index" ngbSlide>
      <div class="carousel-item">
        <img [src]="item" class="carousel-image" alt="Slide Image">
        <div class="carousel-caption" [ngClass]="{'scroll-up': isSlideActive(i)}">
          <h2>Welcome to Your Dream Home</h2>
          <p>Find the best properties tailored to your needs.</p>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
<div class="row">
  <p class="animate_animated animate_slideInUp">hello</p>
</div>

